html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    text-align: center;
}

h1 {
  text-align: left;
  font-family: 'Cormorant Garamond', serif;
  font-size: 3em;
  color: #212E07;
}

h2 {
  text-align: left;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2em;
  color: #212E07;
}

h3 {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2em;
  color: #212E07;
}

h4 {
  text-align: left;
  color: #212E07;
}

p {
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  padding-bottom: 30px;
  color: #001a00;
}

img {
  max-width: 100%;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}

a {
  color: #212E07;
  font-family: 'Quicksand', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6
}

.top-container {
  background-color: #D3DEDC;
  padding-top: 20px;
  text-align: justify;
}

.middle-container {
  background-color: #92A9BD;
  padding-top: 20px;
  text-align: justify;
}

.bottom-container {
  background-color: #7C99AC;
  padding: 30px 0px 20px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 2%;
}

.grid-item {
  padding: 2% 10%;
  text-align: justify;
}

.profile {
  margin: auto;
}

.contact-me {
  text-align: center;
  width: 40%;
  margin: auto;
  padding-bottom: 60px;
}

.copyright {
  color: #EAF6F6;
  padding-top: 20px;
}

.btn {
  background: #26bd8b;
  background-image: -webkit-linear-gradient(top, #26bd8b, #0d3b10);
  background-image: -moz-linear-gradient(top, #26bd8b, #0d3b10);
  background-image: -ms-linear-gradient(top, #26bd8b, #0d3b10);
  background-image: -o-linear-gradient(top, #26bd8b, #0d3b10);
  background-image: linear-gradient(to bottom, #26bd8b, #0d3b10);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Cormorant Garamond', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #9de655;
  background-image: -webkit-linear-gradient(top, #9de655, #276b31);
  background-image: -moz-linear-gradient(top, #9de655, #276b31);
  background-image: -ms-linear-gradient(top, #9de655, #276b31);
  background-image: -o-linear-gradient(top, #9de655, #276b31);
  background-image: linear-gradient(to bottom, #9de655, #276b31);
  text-decoration: none;
}
